name: Quran Bot Daily Sender

on:
  schedule:
    - cron: "00 04 * * *"   # اجرای روزانه ساعت ۷:۳۰ ایران
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install pyTelegramBotAPI jdatetime hijridate

    - name: Run bot script
      env:
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
      run: |
        python send_quran.py
